{% extends 'form/base.html' %}
{% block content %}
{% load static %}

<body id="page-top">
  <!-- Header --> 
  <header class="masthead">
    <video playsinline="" autoplay="" muted="" loop="" poster="" id="bgvid"><source src="{% static 'form/img/portalExit.mp4' %}" type="video/mp4"></video>
    <div class="overlay">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Thank You!</h1>
      	</div>
      </div>
    </div>
  </header>
</body>

{% endblock %}