{% extends 'form/base.html' %}
{% block content %}

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h2  class="text-white-50 mx-auto mt-2 mb-5">Please confirm masters and generics are saved to archive folder *Check with MCR/Assistant* and click below when finished</h2>
        <a href="/form" class="btn btn-primary js-scroll-trigger">Ok</a>
      </div>
    </div>
  </header>
</body>

{% endblock %}