{% extends 'form/base.html' %}
{% block content %}

<body id="page-top">
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Portal</h1>
        <h2  class="text-white-50 mx-auto mt-2 mb-5">Are masters and generics saved to archive folder *Check with MCR/Assistant*?</h2>
        <a href="/wiredrive" class="btn btn-primary js-scroll-trigger">Yes!</a>
        <a href="/form/masters" class="btn btn-primary js-scroll-trigger">No!</a>
      </div>
    </div>
  </header>
</body>

{% endblock %}